<h1 id="title">Home</h1>

<%= link_to "Trigger notice", notice_path, id: "trigger-notice" %>
<%= link_to "Trigger alert",  alert_path,  id: "trigger-alert" %>
<%= link_to "Confirm page",   confirm_path, id: "to-confirm" %>
